<footer>
    <div class="utile">
        <ul class="clear">
            <li><a href="http://www.libertykoreaparty.kr/intro.jsp" target="_blank" alt="">Liberty Korea Party</a></li>
            <li><a href="https://www.youtube.com/user/SaenuriTV" target="_blank" alt="">Oreunsori (Youtube channel of Liberty Korea Party)</a></li>
        </ul>
    </div>
    <div class="inner">
        <div>
            <h1>The Yeouido Institute</h1>
            <address>3rd Fl., Woosung Bldg., #73 Beodeunaru-ro, Yeongdeungpo-gu, Seoul (07247)</address>
        </div>
        <p>Copyright © THE YEOUIDO INSTITUTE All rights reserved.</p>
        <div class="sns">
            <a href="https://www.facebook.com/yeouidoinstitute/" target="_blank" class="sp_comm facebook">facebook</a>
            <a href="https://www.instagram.com/ydi_official_/" target="_blank" class="sp_comm instagram">instagram</a>
            <a href="https://blog.naver.com/youidopolicy" target="_blank" class="sp_comm blog">blog</a>
            <a href="https://www.youtube.com/channel/UCq_2QHiG2NS5u3tXmjwf0Jg/featured" target="_blank" class="sp_comm youtube">youtube</a>
        </div>
    </div>
</footer>