<header>
    <div class="head">
        <h1><a href="/en/main">The Youido Institute</a></h1>
        <a href="/" class="btn_kor">KOR</a>
        <button class="btn_nav"><span></span><span></span><span></span></button>
    </div>
    <nav>
        <ul class="pc_gnb">
            <li><a href="/en/greeting">Welcome</a></li>
            <li><a href="/en/vision">Introduction</a></li>
            <li><a href="/en/history">Sister Organizations</a></li>
            <li><a href="/en/map">Office Location</a></li>
        </ul>
        <div class="nav">
            <div>
                <ul>
                    <li>
                        <a href="/en/greeting.html">Welcome</a>
                        <ul class="depth2">
                            <li><a href="/en/greeting?id=0">Greetings from the Chairman of the Board</a></li>
                            <li><a href="/en/greeting?id=1">Greetings from the President</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/en/vision.html">Introduction</a>
                        <ul class="depth2">
                            <li><a href="/en/vision?id=0">Vision & Goal</a></li>
                            <li><a href="/en/vision?id=1">Key Projects</a></li>
                            <li><a href="/en/vision?id=2">History</a></li>
                            <li><a href="/en/vision?id=3">Organization</a></li>
                            <li><a href="/en/vision?id=4">Mission Statement</a></li>
                        </ul>
                    </li>
                    <li><a href="/en/history">Sister Organizations</a></li>
                    <li><a href="/en/map">Office Location</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>