<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <meta name="author" content="">
    <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="twitter:image" content="http://ydi.cafe24app.com/images/sns_twitter.png" />
    <meta name="og:image" content="http://ydi.cafe24app.com/images/sns_facebook.png" />
    <link rel="stylesheet" href="/css/ini.min.css">
    <link rel="stylesheet" href="/css/webfont.woff.css">
    <link rel="stylesheet" href="/css/module_en.css">
    <link rel="stylesheet" href="/css/contents_en.css">

    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/webfont.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/ui_en.js"></script>

    <title>The Youido Institute</title>
</head>