<!doctype html>
<html lang="ko">
  <% include include/head %>
  <body>
   
<div id="wrap">
    <!-- inc header -->
    <% include include/header %>
    <!-- //inc header -->
    <!-- container -->
    <section class="container accountant">
        <section class="contents">
            <div class="sub-title">
                <div class="inner">
                    <h1>회계사와 세무사</h1>
                </div>
            </div>
            <div class="location">
                <div class="inner">
                    <div class="breadcrumbs">
                        <a href="/" class="btn-home"><span class="sp-comm">home</span></a>
                        <span><a href="#">회계사와 세무사</a></span>
                    </div>
                </div>
            </div>
            <div class="inner">
                <div class="accountant-list">
                    <div class="item">
                        <img src="/images/temp/temp01.jpg" alt="">
                        <div class="info">
                            <div>
                                <strong>최고다 세무사</strong>
                                <p>조지 클루니</p>
                                <span class="sp-comm"></span>
                            </div>
                            <p>100<span>회</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/temp/temp01.jpg" alt="">
                        <div class="info">
                            <div>
                                <strong>최고다 세무사</strong>
                                <p>조지 클루니</p>
                                <span class="sp-comm"></span>
                            </div>
                            <p>100<span>회</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/temp/temp01.jpg" alt="">
                        <div class="info">
                            <div>
                                <strong>최고다 세무사</strong>
                                <p>조지 클루니</p>
                                <span class="sp-comm"></span>
                            </div>
                            <p>100<span>회</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/temp/temp01.jpg" alt="">
                        <div class="info">
                            <div>
                                <strong>최고다 세무사</strong>
                                <p>조지 클루니</p>
                                <span class="sp-comm"></span>
                            </div>
                            <p>100<span>회</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/temp/temp01.jpg" alt="">
                        <div class="info">
                            <div>
                                <strong>최고다 세무사</strong>
                                <p>조지 클루니</p>
                                <span class="sp-comm"></span>
                            </div>
                            <p>100<span>회</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/temp/temp01.jpg" alt="">
                        <div class="info">
                            <div>
                                <strong>최고다 세무사</strong>
                                <p>조지 클루니</p>
                                <span class="sp-comm"></span>
                            </div>
                            <p>100<span>회</span></p>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <span class="navi prev"><a href="#">이전 페이지</a></span>
                    <span class="btn-num"><a href="#">1</a></span>
                    <span class="btn-num active"><a href="#">2</a></span>
                    <span class="btn-num"><a href="#">3</a></span>
                    <span class="btn-num"><a href="#">4</a></span>
                    <span class="btn-num"><a href="#">5</a></span>
                    <span class="btn-num"><a href="#">6</a></span>
                    <span class="btn-num"><a href="#">7</a></span>
                    <span class="btn-num"><a href="#">8</a></span>
                    <span class="btn-num"><a href="#">9</a></span>
                    <span class="btn-num"><a href="#">10</a></span>
                    <span class="navi next"><a href="#">다음 페이지</a></span>
                </div>
            </div>
        </section>
    </section>
    <!-- //container -->
    <!-- inc footer -->
    <% include include/footer %>
    <!-- //inc footer -->
</div>

  </body>
</html>