<!doctype html>
<html lang="ko">
  <% include include/head %>
  <body>
   
<div id="wrap">
    <!-- inc header -->
    <% include include/header %>
    <!-- //inc header -->
    <!-- container -->
    <section class="container company">
        <section class="contents">
            <div class="sub-title">
                <div class="inner">
                    <h1>회사소개</h1>
                </div>
            </div>
            <div class="location">
                <div class="inner">
                    <div class="breadcrumbs">
                        <a href="/" class="btn-home"><span class="sp-comm">home</span></a>
                        <span><a href="#">회사소개</a></span>
                    </div>
                </div>
            </div>
            <div class="inner company-wrap">
                <div>
                    <p class="img"><img src="/images/img_company01.jpg" alt=""></p>
                    <p class="txt">
                        <strong>【 잇다 】는</strong>
                        고객님과 검증된 세무전문가(공인회계사/세무사)의<br> 직접 소통을 통하여, 세무전문가의 정확하고 신속한<br>최상의 세무서비스를 제공하고자 하며,<br>고객님의 안전하고 안정된 경영을 목표로 합니다.
                    </p>
                </div>
                <div>
                    <p class="img"><img src="/images/img_company02.jpg" alt=""></p>
                    <p class="txt">
                        <strong>【 잇다 】의</strong>
                        세무전문가는 고객님의 특성과 상황에 맞는,<br>최적화된 세무서비스를 제공하기 위해<br>언제나 노력할 것입니다.
                    </p>
                </div>
                <div>
                    <p class="img"><img src="/images/img_company03.jpg" alt=""></p>
                    <p class="txt">
                        <strong>【 잇다 】에서</strong>
                        선택하세요.<br>고객님께 꼭 맞는 세무전문가가 있습니다.
                    </p>
                </div>
            </div>
        </section>
    </section>
    <!-- //container -->
    <!-- inc footer -->
    <% include include/footer %>
    <!-- //inc footer -->
</div>

  </body>
</html>