<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <meta name="author" content="">
    <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/css/ini.min.css">
    <link rel="stylesheet" href="/css/webfont.woff.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/contents.css">
    

    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/webfont.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/ui.js"></script>
    

    <title>잇다</title>
  </head>
  <body>
   
<div id="wrap">
    <!-- inc header -->
    <header><!-- 로그인시 class="login" 추가 -->
        <div class="head">
            <h1><a href="/">잇다</a></h1>
            <em>Contact Connect Tax & Accounting on Edda</em>
            <button class="btn-nav"><span class="sp-comm"></span><span class="sp-comm"></span></button>
        </div>
        <nav>
            <!-- 로그인상태 -->
            <a href="#">상담신청 리스트</a>
            <a href="#">패스워드 변경</a>
            <a href="#">회원탈퇴</a>
            <a href="#">로그아웃</a>
            <!-- //로그인상태 -->
            <!-- 로그아웃상태 -->
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
            <!-- //로그아웃상태 -->
        </nav>
    </header>
    <!-- //inc header -->
    <!-- container -->
    <section class="container counsel">
        <section class="contents">
            <div class="sub-title">
                <div class="inner">
                    <h1>세무 상담실</h1>
                </div>
            </div>
            <div class="location">
                <div class="inner">
                    <div class="breadcrumbs">
                        <a href="/" class="btn-home"><span class="sp-comm">home</span></a>
                        <span><a href="#">세무 상담실</a></span>
                    </div>
                </div>
            </div>
            <div class="inner counseling table view">
                <div class="title">
                    <em>(국제세미나 안내) 청년의 정치참여 방법과 독일 기민당[CDU] 청년 정치인의 역할</em>
                    <ul>
                        <li><em>글쓴이</em>유재석</li>
                        <li><em>등록일</em>2019.10.21.</li>
                        <li class="hit"><em>조회수</em>100</li>
                    </ul>
                </div>
                <div class="brd-cont">
                    <p>여의도 연구원에서는 콘라드 아데나워 재단 한국사무소와 함께 세미나를 개최하고자 합니다. 독일은 체계적인 시민정치 교육으로 유명한데, 유년시절부터 받은 정치교육을 어떻게 정치현장에서 실천하고 있는지, 청년 정치인들은 정당 내에서  어떻게 활동하는지에 대해 생생한 현장의 목소리를 듣고자 합니다.</p>
                    <p>여의도 연구원에서는 콘라드 아데나워 재단 한국사무소와 함께 세미나를 개최하고자 합니다. 독일은 체계적인 시민정치 교육으로 유명한데, 유년시절부터 받은 정치교육을 어떻게 정치현장에서 실천하고 있는지, 청년 정치인들은 정당 내에서  어떻게 활동하는지에 대해 생생한 현장의 목소리를 듣고자 합니다.</p>
                    <p>여의도 연구원에서는 콘라드 아데나워 재단 한국사무소와 함께 세미나를 개최하고자 합니다. 독일은 체계적인 시민정치 교육으로 유명한데, 유년시절부터 받은 정치교육을 어떻게 정치현장에서 실천하고 있는지, 청년 정치인들은 정당 내에서  어떻게 활동하는지에 대해 생생한 현장의 목소리를 듣고자 합니다.</p>
                </div>
                <!-- 관리자 답변 -->
                <div class="comment">
                    <strong>잇다 관리자 답변 :</strong>
                    <p>여의도 연구원에서는 콘라드 아데나워 재단 한국사무소와 함께 세미나를 개최하고자 합니다. 독일은 체계적인 시민정치 교육으로 유명한데, 유년시절부터 받은 정치교육을 어떻게 정치현장에서 실천하고 있는지, 청년 정치인들은 정당 내에서  어떻게 활동하는지에 대해 생생한 현장의 목소리를 듣고자 합니다.</p>
                </div>
                <!-- //관리자 답변 -->
                <div class="btn-wrap right">
                    <a href="#" class="btns size-mid color-green btn-list">목록보기</a>
                    <a href="#" class="btns size-mid color-gray btn-comment">답변달기</a><!-- 191226 -->
                    <a href="#" class="btns size-mid color-gray btn-modify">수정</a>
                    <a href="#" class="btns size-mid color-gray">삭제</a>
                </div>
                <div class="brd-control">
                    <ul>
                        <li><em>이전글<span class="sp-comm"></span></em><a href="">이전글 제목이 노출됩니다.</a><p class="date">2019.10.21.</p></li>
                        <li><em>다음글<span class="sp-comm"></span></em><a href="">다음글 제목이 노출됩니다.</a><p class="date">2019.10.21.</p></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
    <!-- //container -->
    <!-- inc footer -->
    <footer>
        <div class="utile">
            <ul class="clear">
                <li><a href="#" alt="">회사소개</a></li>
                <li><a href="#" alt="">오시는 길</a></li>
                <li><a href="#" alt="">개인정보처리방침</a></li>
                <li><a href="#" alt="">이용약관</a></li>
                <li><a href="#" alt="">공지사항</a></li>
            </ul>
        </div>
        <div class="inner">
            <div>
                <h1>잇다</h1>
                <address>12345  서울특별시 영등포구 국회대로 1</address>
                <span><strong>TEL.</strong> <a href="tel:02-1234-5678">02-1234-5678</a></span>
                <span><strong>FAX.</strong> <a href="javascript:void(0)">02-1234-5678</a></span>
                <span><strong>EMAIL.</strong> <a href="mailto:info@edda.co.kr">info@edda.co.kr</a></span>
                <p>Copyright © EDDA All rights reserved.</p>
            </div>
            <div class="sns">
                <a href="#" target="_blank" class="sp-comm facebook">facebook</a>
                <a href="#" target="_blank" class="sp-comm instagram">instagram</a>
                <a href="#" target="_blank" class="sp-comm blog">blog</a>
                <a href="#" target="_blank" class="sp-comm youtube">youtube</a>
            </div>
        </div>
    </footer>
    <!-- //inc footer -->
</div>
<section class="wrap-layer-popup" id="layer-password">
    <div class="dimmed"></div>
    <div class="pop-layer">
        <div class="contents">
            <p>비밀번호를 입력해주세요.</p>
            <div class="inp-box">
                <label for="pw" class="ir-blind">비밀번호</label>
                <input type="password" id="pw" name="" placeholder="">
            </div>
            <div class="btn-wrap">
                <button class="btns size-mid color-gray">취소</button>
                <button class="btns size-mid color-green">확인</button>
            </div>
        </div>
        <p class="btn-close"><button class="sp-comm">Close</button></p>
    </div>
</section>
<!-- 191226 -->
<section class="wrap-layer-popup" id="layer-comment">
    <div class="dimmed"></div>
    <div class="pop-layer">
        <div class="contents">
            <p>답변을 입력해주세요.</p>
            <div class="textarea-box">
              <textarea id="" name="" cols="50" rows="5" placeholder="답변 입력"></textarea>
            </div>
            <div class="btn-wrap">
                <button class="btns size-mid color-gray">취소</button>
                <button class="btns size-mid color-green">확인</button>
            </div>
        </div>
        <p class="btn-close"><button class="sp-comm">Close</button></p>
    </div>
</section>
<!-- //191226 -->
<script>
$(function(){
    //수정하기
    $('.btn-modify').on('click',function(e){
        e.preventDefault();
        edda.layerOpen($(this), 'layer-password');
    });
    //답변달기 191226
    $('.btn-comment').on('click',function(e){
        e.preventDefault();
        edda.layerOpen($(this), 'layer-comment');
    });
});
</script>

  </body>
</html>