<!doctype html>
<html lang="ko">
<% include include/head %>
<body>

<div id="wrap">
    <!-- inc header -->
    <% include include/header %>
    <!-- //inc header -->
    <!-- container -->
    <!-- 191118 -->
    <section class="container counsel">
        <!-- //191118 -->
        <section class="contents">
            <div class="sub-title">
                <div class="inner">
                    <h1>에러가 발생하였습니다.</h1>
                </div>
            </div>
            <div class="location">
                <div class="inner">
                    <div class="breadcrumbs">
                        <a href="/" class="btn-home"><span class="sp-comm">home</span></a>
                        <span><a href="#">에러페이지</a></span>
                    </div>
                </div>
            </div>
            <div class="inner etc-wrap privacy">
                <%=message%>
            </div>

        </section>
    </section>

    <!-- //container -->
    <!-- inc footer -->
    <% include include/footer %>
    <!-- //inc footer -->
</div>

</body>
</html>