<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <meta name="author" content="잇다">
    <meta name="title" content="잇다 홈페이지">
    <meta name="keywords" content="여의도연구원, YDI, 자유한국당, 정당정책연구소, 정책연구원, 정책연구, 정책정당, 정책개발, 정책연구 및 개발, 정책세미나, 정책제안, 연구보고서, 네트워크활성화, 국민소통, 여론조사, 빅데이터, 데이터분석, 정당정책, 교육, 사회정책, 경제정책, 안보통일, 전략기획, 커뮤니케이션, 청년정책, 여성정책, 디지털마케팅, 정당혁신, 공감문화정책, 미디어정책, 소상공인정책, 현대사이데올로기 연구, 홍보, 국내외교류활동">
    <meta name="description" content="">
    <meta name="twitter:image" content="http://ydi.cafe24app.com/images/sns_twitter.png" />
    <meta name="og:image" content="http://ydi.cafe24app.com/images/sns_facebook.png" />
    <link rel="stylesheet" href="/css/ini.min.css">
    <link rel="stylesheet" href="/css/webfont.woff.css">
    <link rel="stylesheet" href="/css/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/fullcalendar/fullcalendar.print.min.css" media="print">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="shortcut icon" href="fabicon_ydi.png">
    <link rel="icon" href="/images/fabicon_ydi.png">


    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/webfont.js"></script>
    <script type="text/javascript" src="/manager/vendor/jquery/dist/jquery.form.js"></script>
    <script type="text/javascript" src="/js/fullcalendar/moment.min.js"></script>
    <script type="text/javascript" src="/js/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/js/fullcalendar/locale-all.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/ui.js"></script>
    <title>여의도연구원</title>
</head>
<body>

<div id="wrap">
    <!-- inc header -->
    <% include include/header %>
    <!-- //inc header -->
    <!-- container -->
    <%- body -%>
    <!-- //container -->
    <% include include/footer %>
</div>

</body>
</html>