<!doctype html>
<html lang="ko">
  <% include include/head %>
  <body>
   
<div id="wrap">
    <!-- inc header -->
    <% include include/header %>
    <!-- //inc header -->
    <!-- container -->
    <section class="container my_consult">
        <section class="contents">
            <div class="sub-title">
                <div class="inner">
                    <h1>상담신청리스트</h1>
                </div>
            </div>
            <div class="location">
                <div class="inner">
                    <div class="breadcrumbs">
                        <a href="/" class="btn-home"><span class="sp-comm">home</span></a>
                        <span><a href="#">상담신청리스트</a></span>
                    </div>
                </div>
            </div>
            <div class="inner consult">
                <div class="detail">
                    <h3><strong>최진호</strong>님의 의뢰내용</h3>
                    <ul>
                        <li><em>구분</em><p><strong>기장대행</strong></p></li>
                        <li><em>상태</em><p>견적요청</p></li>
                    </ul>
                    <ul>
                        <li><em>신청일</em><p>2019-10-21 02:18:12</p></li>
                        <li><em>고객명</em><p>최진호</p></li>
                        <li><em>세무분야</em><p>내부조사</p></li>
                        <li class="explain"><em>기타사항</em><p>상담테스트입니다.</p></li>
                    </ul>
                </div>
                <div class="detail">
                    <h3><strong>최고다 세무사 조지클루니</strong>에서 발송한 견적서 샘플</h3>
                    <ul>
                        <li><em>견적가<p>(용역비,부가세별도)</p></em><p>1,000,000 원</p></li>
                        <li><em>불복내용</em><p>불복내용</p></li>
                        <li><em>고지내용</em><p>고지내용</p></li>
                        <li><em>용역비 지급방식</em><p>
                            <span><strong>착수금</strong> 1,000,000원</span>
                            <span><strong>성공액</strong> 1,000,000원</span>
                        </p></li>
                        <li class="explain"><em>맞춤소개</em><p>맞춤소개 입력한 내용이 보여 집니다.</p></li>
                    </ul>
                </div>
                <p class="txt">※ 관련 계약서는 세무대리인과 추후 별도 작성 계약 합니다.</p>
                <div class="btn-wrap">
                    <a href="#" class="btns size-mid color-gray">뒤로가기</a>
                    <a href="#" class="btns size-mid color-green">결정하기</a>
                </div>
            </div>
        </section>
    </section>
    <!-- //container -->
    <!-- inc footer -->
    <% include include/footer %>
    <!-- //inc footer -->
</div>

  </body>
</html>