<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <meta name="author" content="">
    <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/css/ini.min.css">
    <link rel="stylesheet" href="/css/webfont.woff.css">
    

    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/webfont.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/ui.js"></script>

    <title>잇다</title>
  </head>
  <body>
   
<div id="wrap">
<style>
    .write{width:1000px;margin:100px auto; border-top:solid 2px #b4292c;}
    .write th{padding:12px 15px;color:#000;text-align:left; border-bottom:solid 1px #c4c4c4;background-color:#eee}
    .write td{padding:12px 15px;color:#333; border-bottom:solid 1px #c4c4c4;}
    .write .h1{text-align:center}

.sp_comm{background:url('../images/sp_comm.png') no-repeat 0 0; text-indent:-9999px; display:inline-block}
.contents .page_top{position:fixed;bottom:50px;right:3%;z-index:100}
.contents .page_top a{padding:12px 17px; background-color:#888;display:block}
.contents .page_top .sp_comm{width:26px;height:36px; background-position:-550px 0}
</style>
    <!-- container -->
    <section class="container">
        <section class="contents">
            <table class="write">
                <colgroup>
                    <col width="20%"><col width="20%"><col width="20%"><col width="/">
                </colgroup>
                <tbody>
                    <tr>
                        <th class="h1" colspan="4">잇다</th>
                    </tr>
                    <tr>
                        <th colspan="3">메인</th>
                        <td><a href="main.html" target="_blank">main.html</a></td>
                    </tr>
                    <tr>
                        <th rowspan="7">02. 세무 상담 및 견적 신청</th>
                        <th>기장대행</th>
                        <th></th>
                        <td><a href="apply01.html" target="_blank">apply01.html</a></td>
                    </tr>
                    <tr>
                        <th>신고대행</th>
                        <th></th>
                        <td><a href="apply02.html" target="_blank">apply02.html</a></td>
                    </tr>
                    <tr>
                        <th>세부조사-불복</th>
                        <th></th>
                        <td><a href="apply03.html" target="_blank">apply03.html</a></td>
                    </tr>
                    <tr>
                        <th>양도 상속 증여</th>
                        <th></th>
                        <td><a href="apply04.html" target="_blank">apply04.html</a></td>
                    </tr>
                    <tr>
                        <th>기타</th>
                        <th></th>
                        <td><a href="apply05.html" target="_blank">apply05.html</a></td>
                    </tr>
                    <tr>
                        <th>무료 세무상담</th>
                        <th></th>
                        <td><a href="apply06.html" target="_blank">apply06.html</a></td>
                    </tr>
                    <tr>
                        <th>신고 완료</th>
                        <th></th>
                        <td><a href="apply_result.html" target="_blank">apply_result.html</a></td>
                    </tr>
                    <tr>
                        <th rowspan="3">03. 세무상담실</th>
                        <th rowspan="3">세무상담실</th>
                        <th>list</th>
                        <td><a href="counseling_list.html" target="_blank">counseling_list.html</a></td>
                    </tr>
                    <tr>
                        <th>view</th>
                        <td><a href="counseling_view.html" target="_blank">counseling_view.html</a></td>
                    </tr>
                    <tr>
                        <th>write</th>
                        <td><a href="counseling_write.html" target="_blank">counseling_write.html</a></td>
                    </tr>
                    <tr>
                        <th rowspan="2">04. 세무잇다이야기</th>
                        <th rowspan="2">세무잇다이야기</th>
                        <th>list</th>
                        <td><a href="story_list.html" target="_blank">story_list.html</a></td>
                    </tr>
                    <tr>
                        <th>view</th>
                        <td><a href="story_view.html" target="_blank">story_view.html</a></td>
                    </tr>
                    <tr>
                        <th rowspan="2">05. 회계사와 세무사</th>
                        <th rowspan="2">회계사와 세무사</th>
                        <th>list</th>
                        <td><a href="accountant.html" target="_blank">accountant.html</a></td>
                    </tr>
                    <tr>
                        <th>view</th>
                        <td><a href="accountant_detail.html" target="_blank">accountant_detail.html</a></td>
                    </tr>
                    <tr>
                        <th rowspan="6">06. 마이페이지</th>
                        <th>상담신청리스트</th>
                        <th>list</th>
                        <td><a href="my_consult_list.html" target="_blank">my_consult_list.html</a></td>
                    </tr>
                    <tr>
                        <th>상담신청리스트 (상세)</th>
                        <th>view</th>
                        <td><a href="my_consult_view01.html" target="_blank">my_consult_view01.html</a></td>
                    </tr>
                    <tr>
                        <th>상담신청리스트 (상세) - 기장대행,신고대행</th>
                        <th></th>
                        <td><a href="my_consult_view02.html" target="_blank">my_consult_view02.html</a></td>
                    </tr>
                    <tr>
                        <th>상담신청리스트 (상세) - 세무조사_불복</th>
                        <th></th>
                        <td><a href="my_consult_view03.html" target="_blank">my_consult_view03.html</a></td>
                    </tr>
                    <tr>
                        <th>상담신청리스트 (상세) - 양도_상속_증여</th>
                        <th></th>
                        <td><a href="my_consult_view04.html" target="_blank">my_consult_view04.html</a></td>
                    </tr>
                    <tr>
                        <th>상담신청리스트 (상세) - 기타</th>
                        <th></th>
                        <td><a href="my_consult_view05.html" target="_blank">my_consult_view05.html</a></td>
                    </tr>
                    <tr>
                        <th>상담신청리스트 (상세) - 무료상담</th>
                        <th></th>
                        <td><a href="my_consult_view06.html" target="_blank">my_consult_view06.html</a></td>
                    </tr>
                    <tr>
                        <th rowspan="6">07. 회원</th>
                        <th>비밀번호 변경</th>
                        <th></th>
                        <td><a href="pw.html" target="_blank">pw.html</a></td>
                    </tr>
                    <tr>
                        <th>회원탈퇴</th>
                        <th></th>
                        <td><a href="leave.html" target="_blank">leave.html</a></td>
                    </tr>
                    <tr>
                        <th>회원가입</th>
                        <th></th>
                        <td><a href="join.html" target="_blank">join.html</a></td>
                    </tr>
                    <tr>
                        <th>회원가입 (일반회원)</th>
                        <th></th>
                        <td><a href="join_info1.html" target="_blank">join_info1.html</a></td>
                    </tr>
                    <tr>
                        <th>회원가입 (제휴사회원)</th>
                        <th></th>
                        <td><a href="join_info2.html" target="_blank">join_info2.html</a></td>
                    </tr>
                    <tr>
                        <th>로그인</th>
                        <th></th>
                        <td><a href="login.html" target="_blank">login.html</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
    <!-- //container -->

</div>
  </body>
</html>