<!doctype html>
<html lang="ko">
  <% include include/head %>
  <body>
   
<div id="wrap">
    <!-- inc header -->
    <% include include/header %>
    <!-- //inc header -->
    <!-- container -->
    <section class="container etc">
        <section class="contents">
            <div class="sub-title">
                <div class="inner">
                    <h1>이용약관</h1>
                </div>
            </div>
            <div class="location">
                <div class="inner">
                    <div class="breadcrumbs">
                        <a href="/" class="btn-home"><span class="sp-comm">home</span></a>
                        <span><a href="#">이용약관</a></span>
                    </div>
                </div>
            </div>
            <div class="inner etc-wrap service">
                <h2>이용약관</h2>
                <h3>제1장 총칙</h3>
                <em>제1조(목적)</em>
                <div>이 약관은 ㈜잇다(이하, ‘회사’라 합니다.)가 제공하는 ‘실시간 사업관리 프로그램’과 ‘회계, 세무 비교견적 솔루션’과 관련하여, 회사와 사용자간에 사용계약의 내용_서비스(이하, 서비스라 합니다.)의 사용조건 및 절차, 회사와 사용자간의 권리, 의무 및 기타 필요한 사항을 규정함을 목적으로 합니다.</div>
                <em>제2조(약관의 효력 및 개정)</em>
                <div>
                    <ol>
                        <li>① 이 약관은 회사의 홈페이지에 게시하여 공지하거나 전자우편, 기타의 방법으로 사용자에게 통지함으로써 효력을 발생합니다.</li>
                        <li>② 회사는 필요한 경우 이 약관을 개정할 수 있습니다.</li>
                        <li>③ 회사가 약관을 개정할 경우에는 개정약관의 개정내용, 개정사유 및 시행일자를 개정 전 약관과 함께 홈페이지에 그 개정약관의 시행일 30일 전부터 시행일까지 공지하거나, 회사에 등록된 사용자의 전자우편으로 통지합니다.</li>
                        <li>④ 전항의 공지 등에 따라 개정 약관을 공지하였음에도 사용자가 명시적으로 거부 의사를 표시하지 않고 개정약관의 시행일 이후 회사의 서비스를 계속 이용하는 경우, 개정약관에 동의한 것으로 봅니다.</li>
                        <li>⑤ 사용자는 개정된 약관에 동의하지 않을 경우 계약을 해지할 수 있습니다.</li>
                    </ol>
                </div>
                <h3>제2장 사용계약(서비스)</h3>
                <em>제3조(서비스)</em>
                <div>회사가 제공하는 서비스는 ‘실시간 사업관리 프로그램’과 ‘회계, 세무 비교견적 솔루션’으로 합니다.</div>
                <em>제4조(사용계약의 체결 등)</em>
                <div>
                    <ol>
                        <li>① 서비스의 사용계약은 사용자가 이 약관에 동의를 한 후, 회사가 정한 가입양식에 따라 사용자의 정보(사용자의 성명, 휴대폰번호, 전자우편주소, 아이디, 비밀번호)를 회사에 제공하고, 회사가 이를 승낙함으로써 체결됩니다.</li>
                        <li>② ‘실시간 사업관리 프로그램’은 사용자가 사용계약을 체결한 이후 무료로 사용할 수 있습니다.</li>
                        <li>③ 회사와 업무제휴를 맺은 공인회계사 및 세무사가 사용자와 전화통화 등 필요한 사전 상담을 한 후, 사용자와의 합의에 따라 선임을 하는 ‘회계, 세무 비교견적 솔루션’은 서비스사용수수료가 부과됩니다.</li>
                    </ol>
                </div>
                <em>제5조(사용계약의 종료 등)</em>
                <div>
                    <ol>
                        <li>① 사용자는 언제든지 사용계약을 종료할 수 있으며, 종료시점은 사용자의 종료의사가 회사에 도달한 때로 합니다.</li>
                        <li>② 회사는, 사용자의 홈페이지 사용을 정지할 필요가 있는 경우에는 정지사유를 홈페이지에 게시하여 공지하거나 전자우편, 기타의 방법으로 사용자에게 정지사유를 통지한 후, 사용자의 사용을 정지할 수 있습니다.</li>
                        <li>③ 회사는 사용자가 다음 각 호에 해당하는 경우 사용계약을 종료할 수 있습니다.
                            <ol>
                                <li>1. 사용자가 정지사유를 통지 받고 30일 이내에 이를 시정 또는 소명하지 않거나 그 시정 또는 소명이 부족한 경우</li>
                                <li>2. 동일한 사유로 사용이 2회 이상 정지된 경우</li>
                                <li>3. 사용자가 서비스이용수수료를 지급하지 않는 경우</li>
                            </ol>
                        </li>
                    </ol>
                </div>
                <em>제6조(사용자의 의무)</em>
                <div>
                    <ol>
                        <li>① 사용자는 비밀번호에 대한 관리책임이 있습니다. 사용자는 이 홈페이지를 타인에게 이용하게 해서는 안됩니다.</li>
                        <li>② 사용자는 자신의 비밀번호를 도난당하거나 타인이 사용하고 있음을 알게된 경우에는 즉시 비밀번호를 재설정하여야 하고, 재설정이 불가능할 경우에는 즉시 ‘회사’에 통보한 후, ‘회사’의 조치에 따라야 합니다.</li>
                        <li>③ 사용자는 다음 각호의 행위를 하면 안됩니다.
                            <ol>
                                <li>1. 사용계약 체결 또는 사용자 정보변경 시 허위의 정보를 기재하는 행위</li>
                                <li>2. 사용계약 체결 시 실명이 아니거나 타인의 명의를 사용하는 행위</li>
                                <li>3. 부정한 용도 또는 불법 목적으로 서비스를 이용하는 행위</li>
                                <li>4. 회사와 별도의 계약 없이 서비스를 사용자의 영리목적으로 이용하는 행위</li>
                                <li>5. 회사나 회사와 업무제휴를 맺은 공인회계사 및 세무사의 업무를 방해하거나, 그 명예 또는 신용을 훼손하는 행위</li>
                                <li>6. 회사나 회사와 업무제휴를 맺은 공인회계사 및 세무사의 저작권 등 지적재산권을 침해하는 행위</li>
                                <li>7. 사용자의 지위를 타인에게 양도하거나 담보를 제공하는 행위</li>
                                <li>8. 법령 또는 이 약관에 위배되거나 공서양속에 반하는 행위</li>
                            </ol>
                        </li>
                    </ol>
                </div>
                <em>제7조(회사의 의무)</em>
                <div>
                    <ol>
                        <li>① 회사는 사용자의 개인정보보호를 위해 필요한 시스템을 구축하며, 개인정보취급방침을 수립하고, 개인정보관리책임자를 지정하여 이를 게시하고, 운용합니다.</li>
                        <li>② 회사는 사용자에게 서비스를 제공함에 있어 사용자를 위하여 선량한 관리자로서의 주의의무를 다 하여야 합니다.</li>
                    </ol>
                </div>
                <em>제8조(사용자에 대한 통지)</em>
                <div>
                    <ol>
                        <li>① 회사가 사용자에 대한 통지를 하는 경우, 사용자가 사용계약체결시 회사에 제공한 전자우편주소나 휴대폰번호를 이용할 수 있습니다.</li>
                        <li>② 회사가 1주일 이상의 기간을 정해 홈페이지에 그 내용을 게시한 경우, 회사가 전항의 방법으로 사용자에게 개별통지를 하였으나 도달이 되지 않은 경우에도 그 사용자에게 도달한 것으로 봅니다.</li>
                    </ol>
                </div>
                <h3>제3장 서비스의 사용</h3>
                <em>제9조(서비스 종류별 약관 및 이용조건)</em>
                <div>회사는 제공하는 서비스의 종류에 따라 별도의 사용약관 및 사용조건(이하 ‘특별사용약관 등’이라 합니다)을 정할 수 있습니다. 이 경우 특별사용약관 등은 이 약관에 우선합니다.</div>
                <em>제10조(서비스 사용수수료)</em>
                <div>서비스 사용수수료는 서비스의 종류에 따라 다르게 정해질 수 있으며, 홈페이지에 사전 게시된 서비스 사용수수료 규정에 따릅니다.</div>
                <em>제11조(서비스 사용시간)</em>
                <div>서비스의 사용은 홈페이지에 게시한 시간에 따릅니다. 다만, 정기점검이나 기술적 장애 등이 발생한 경우, 홈페이지에 서비스 일시 중단 사유와 시간을 공지하고 일시 중단할 수 있습니다.</div>
                <em>제12조(제공 서비스의 변경)</em>
                <div>
                    <ol>
                        <li>① 회사는 업무변경이나 기술상의 문제를 이유로 제공하고 있는 서비스의 전부 또는 일부를 홈페이지에 개시일 30일 전부터 개시일까지 그 사유를 게시한 후, 변경 또는 중단할 수 있습니다.</li>
                        <li>② 전항의 경우, 무료로 제공되는 서비스에 대해서는 사용자에게 별도의 보상이나 배상을 하지 않습니다.</li>
                    </ol>
                </div>
                <em>제13조(개인정보보호)</em>
                <div>
                    <ol>
                        <li>① 회사는 사용자의 개인정보 보호를 위한 관련 법령을 준수합니다.</li>
                        <li>② 회사는 사용자의 개인정보보호를 위해 필요한 시스템을 구축하며, 개인정보취급방침을 수립하고, 개인정보관리책임자를 지정하여 이를 게시하고, 운용합니다.</li>
                        <li>③ 회사는 회사와 업무제휴를 맺은 공인회계사 및 세무사가 ‘회계, 세무 비교견적 솔루션’에 따라 사용자의 정보를 필요로 하는 경우에는 공인회계사나 세무사에게 사용자의 개인정보를 제공할 수 있습니다.</li>
                    </ol>
                </div>
                <h3>제4장 회사의 면책 및 관할법원</h3>
                <em>제14조(회사의 면책)</em>
                <div>
                    <ol>
                        <li>① 회사는 천재지변이나 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 책임을 지지 않습니다.</li>
                        <li>② 회사는 회원의 귀책사유로 인한 서비스 사용의 장애나 개인정보의 누출에 대해 책임을 지지 않습니다.</li>
                        <li>③ 회사는 ‘회계, 세무 비교견적 솔루션’에 따른 사용자간 또는 사용자와 회사와 업무제휴를 맺은 공인회계사 및 세무사간에 생긴 행위 및 그 결과에 대해 책임을 지지 않습니다.</li>
                        <li>④ 회사는 회사 및 회사의 임직원 또는 대리인의 고의 또는 중대한 과실이 없는 한, 다음 각 호로 인하여 발생하는 손해에 대해 책임을 지지 않습니다.
                            <ol>
                                <li>1. 회원정보의 허위 또는 오류에 따른 손해</li>
                                <li>2. 서비스 이용을 위한 문자 등 사용 및 전송과정에서 발생한 오류, 누락, 장애로 인한 손해</li>
                                <li>3. 홈페이지에 대한 제3자의 모든 불법적인 접속 또는 불법적인 이용으로 인해 발생하는 손해</li>
                                <li>4. 홈페이지에 대한 전송 또는 홈페이지로부터의 전송에 대한 제3자의 모든 불법적인 방해 또는 중단행위로부터 발생하는 손해</li>
                                <li>5. 제3자가 서비스를 이용하여 불법적으로 전송, 유포하거나 또는 전송, 유포되도록 한 모든 바이러스, 스파이웨어 및 기타 악성 프로그램으로 인한 손해</li>
                            </ol>
                        </li>
                    </ol>
                </div>
                <em>제15조(관할법원)</em>
                <div>회사와 사용자간에 법적 분쟁이 발생한 경우, 회사의 본사 소재지를 관할하는 법원을 관할법원으로 합니다.</div>
                <em>부 칙</em>
                <div>이 약관은 2019년 11월 15일부터 시행합니다.</div>
            </div>
        </section>
    </section>
    <!-- //container -->
    <!-- inc footer -->
    <% include include/footer %>
    <!-- //inc footer -->
</div>

  </body>
</html>