<footer>
    <div class="utile">
        <ul class="clear">
            <li><a href="/company" alt="">회사소개</a></li>
            <li><a href="/board/list/notice/1" alt="">공지사항</a></li>
            <li><a href="/privacy" alt="">개인정보처리방침</a></li>
            <li><a href="/service" alt="">이용약관</a></li>
            <li><a href="/board/list/counseling/1" alt="">세무상담실</a></li>
        </ul>
    </div>
    <div class="inner">
        <div>
            <h1>安世會計法人 잇다</h1>
            <address>
                세무잇다주식회사:674-87-01460<br>
                서울특별시 금천구 가산디지털1로 168. 비동 412호<br>
                TEL:1811-7085 / EMAIL:tax@edda.kr

            </address>
            <!--<span><strong>TEL.</strong> <a href="tel:02-1234-5678">0000-0000</a></span>-->
            <!--&lt;!&ndash;<span><strong>FAX.</strong> <a href="javascript:void(0)">-</a></span>&ndash;&gt;-->
            <!--<span><strong>EMAIL.</strong> <a href="mailto:eanse0968@daum.net">tax@edda.kr</a></span>-->
            <address>
                <br>본사이트는 특허청에 디자인권 등록 및 한국저작권 위원회에<br>

                저작권 등록이 되어있는 컨텐츠로 제공된 용도 이외에 무단복제 및 사용을 금지합니다.<br>

                디자인권등록번호:제30-2020-0006389호<br>저작권등록번호:제C-2020-006371호﻿
            </address>
            <p>Copyright © EDDA All rights reserved.</p>

        </div>
        <div class="sns">
            <a href="https://www.facebook.com/gooedda" target="_blank" class="sp-comm facebook">facebook</a>
            <a href="https://www.instagram.com/taxedda" target="_blank" class="sp-comm instagram">instagram</a>
            <a href="https://blog.naver.com/eddakr" target="_blank" class="sp-comm blog">blog</a>
            <a href="https://www.youtube.com/channel/UCzqFl8IcoP8KDgMSTeWX9CA" target="_blank" class="sp-comm youtube">youtube</a>
            <a href="https://play.google.com/store/apps/details?id=com.stevencorp.edda" target="_blank" class="sp-comm google">google</a>
        </div>
    </div>
</footer>