<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <meta name="author" content="">
    <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/css/ini.min.css">
    <link rel="stylesheet" href="/css/webfont.woff.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/contents.css">

    <script src="/manager/vendor/pacejs/pace.min.js"></script>
    <script src="/manager/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/manager/vendor/jquery/dist/jquery.form.js"></script>
    <script src="/manager/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/manager/vendor/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/js/webfont.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <title>잇다</title>
</head>