<nav>
	<div class="dimmed"></div>
	<div class="navi">
		<div class="navi_top">
			<h1><img src="/images/logo.png" alt="내안애"></h1>
			<input type="button" class="sp_comm btn_close" value="Close">
		</div>
		<ul>
			<li class="order">
				<a href="javascript:alert('준비중입니다.')"><span class="sp_comm"></span>주문현황</a>
			</li>
			<li class="notice">
				<a href="javascript:alert('준비중입니다.')"><span class="sp_comm"></span>공지사항</a>
			</li>
			<!--<li class="event">-->
				<!--<a href="javascript:alert('준비중입니다.')"><span class="sp_comm"></span>이벤트</a>-->
			<!--</li>-->
			<!--<li class="delivery">-->
				<!--<a href="javascript:alert('준비중입니다.')"><span class="sp_comm"></span>배송현황</a>-->
			<!--</li>-->
			<!--<li class="coupon">-->
				<!--<a href="#"><span class="sp_comm"></span>쿠폰현황</a>-->
			<!--</li>-->
			<li class="coupon">
				<a href="/logout"><span class="sp_comm"></span>로그아웃</a>
			</li>
		</ul>
	</div>
</nav>

