<div class="privacy">
    <h2>주식회사 잇다 멤버십 서비스 특별사용약관</h2>
    <em>【1】 멤버십 서비스에 대한 안내</em>
    <div>
        <ul>
            <li>1. 본 멤버십 서비스는 【주식회사 잇다】의 홈페이지에서 고객에게 견적서를 발송하는 것뿐만 아니라, 회사의 마케팅 비용으로 해당 멤버십 회원을 홍보하고, 전담컨설턴트를 지정하여 회원의 마케팅을 관리하는  종합 서비스를 포함합니다.</li>
            <li>2. 멤버십 회원은 【주식회사 잇다】의 홈페이지를 광고매체로 하여 멤버십 가입 기간 동안 광고에 노출됩니다. 멤버십 회원은 ‘멤버십 관리 페이지’ 를 통해 멤버십 회원에 대한 광고 시스템인 ‘프로필 홍보’ 기능을 선택할 수 있습니다. 잇다가 지정한 광고매체의 리스트 및 프로필 홍보를 위한 최소 기준은 변경될 수 있으며 이에 대하여는 잇다 내 ‘프로필 홍보 설정’ 페이지에서 별도 안내합니다.</li>
            <li>3. 멤버십 회원은 전담 컨설턴트에 의한 1:1 관리 등 멤버십 이용 관리 서비스를 받을 수 있습니다. 회사는 멤버십 회원에게 일부 견적요청서에 대해 무료로 직접 또는 자동으로 견적서를 보낼 수 있는 기회를 제공합니다.</li>
        </ul>
    </div>
    <em>【2】 멤버십 서비스의 거래조건에 대한 안내</em>
    <div>
        <ul>
            <li>1. [가격 및 기간] 멤버십 서비스의 이용계약기간은 1년이고, 멤버십 회원비는 년 간 일백만원으로 합니다. 추가적으로 비교견적 솔루션이 완료된 후, 년간 기장료 합계금의 20%에 해당하는 금액을 플랫폼 사용 수수료로 부과합니다.</li>
            <li>2. [서비스 제공 기간] 멤버십 서비스 결제 후 즉시 서비스 제공이 개시되며 이로부터 정기 가입 기간 동안 서비스가 제공되는 것을 원칙으로 합니다.</li>
            <li>3. [이용계약의 갱신 통지] 회사는 멤버십 서비스 계약기간이 끝나기 1주일 전에 회원에게 이용계약의 갱신 사실을 회원의 이메일 또는 SNS, 기타 전자서면 등으로 통지합니다. 다만, 이용계약기간의 단위가 1년 이상인 경우 통지기간은 계약기간이 끝나기 30일 전까지로 합니다.</li>
            <li>4. [이용계약의 갱신 방법] 회원이 (3)의 통지를 받은 날로부터 1주일 이내(1년 이상 계약의 경우 통지를 받은 날로부터 30일 이내)에 별도의 의사표시를 하지 않으면 본 멤버십 계약은 동일한 기간 동안 연장됩니다.</li>
        </ul>
    </div>
    <em>【3】 멤버십 서비스의 결제방법</em>
    <div>
        <ul>
            <li>1. 멤버십 회원은 정기 자동결제 방법으로 멤버십 서비스의 이용대가를 지불하며 회사는 이에 대하여 최초 결제시 회원의 사전 동의를 받습니다.</li>
            <li>2. 1년 정기결제의 경우에는 최초 결제월∙일 이후 매년 동일 결제월∙일에 결제가 자동으로 진행됩니다.</li>
            <li>3. 멤버십 회원이 위 항에 규정된 바와 같이 별도의 의사표시를 하지 아니하면 정기 자동결제가 유지되며, 회원 별도의 의사표시를 통해 계약이 갱신되지 아니하면 다음 정기 결제도 이루어지지 않습니다.</li>
            <li>4. 정기 자동결제는 멤버십 회원이 등록한 신용카드, 체크카드, 휴대폰 결제 기능외 계좌이체 등의 방법으로 가능합니다.</li>
            <li>5. 다음 자동결제 일시에 대한 사항은 ‘설정 >결제상세정보’ 페이지에서 상시 확인할 수 있습니다.</li>
        </ul>
    </div>
    <em>【4】 멤버십 서비스 이용방법에 대한 안내</em>
    <div>
        <ul>
            <li>1. [서비스 이용방법] 본 안내 사항에 작성된 사항 외에는 【주식회사 잇다】의 이용약관에 따릅니다.</li>
            <li>2. [이용에 대한 문의] 본 멤버십 서비스에 대한 이용문의는 【주식회사 잇다】고객센터 1500-0000로 할 수 있습니다.</li>
        </ul>
    </div>
    <em>【5】 멤버십 서비스의 청약철회/해지 및 환불에 대한 안내</em>
    <div>멤버십 회원이 서비스를 사용하지 않은 경우에는 결제일로부터 7일 이내에 계약철회를 할 수 있습니다.</div>
    <em>【부 칙】</em>
    <div>이 약관은 2019년 11월 15일부터 시행합니다.</div>
</div>s