<header>
    <section class="head">
        <h1 class="logo" onclick="javascript:location.href='/';"><a href="/index">내안애</a></h1>
        <input type="button" class="sp_comm btn_nav" value="Menu">
        <!--<a href="#" class="sp_comm btn_alarm">알람<span class="point">5</span></a>-->
    </section>
</header>