<!DOCTYPE html>
<html accept-language="kr">
<% include common/header %>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
    <% include common/top %>
    <!-- End header-->

    <!-- Navigation-->
     <% include common/navi %>
    <!-- End navigation-->


    <!-- Main content-->
    <%-body -%>
    <!-- End main content-->

</div>
<!-- End wrapper-->



<script>

</script>

</body>

</html>