<!DOCTYPE html>
<html>
<% include manager/common/header %>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
    <% include manager/common/top %>
    <!-- End header-->

    <!-- Navigation-->
    <% include manager/common/navi %>
    <!-- End navigation-->


    <!-- Main content-->
    <%-body -%>
    <!-- End main content-->

</div>
<!-- End navigation-->


<!-- Vendor scripts -->
<script src="/manager/vendor/pacejs/pace.min.js"></script>
<script src="/manager/vendor/jquery/dist/jquery.min.js"></script>
<script src="/manager/vendor/jquery/dist/jquery.form.js"></script>
<script src="/manager/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/manager/vendor/toastr/toastr.min.js"></script>
<script src="/manager/vendor/sparkline/index.js"></script>
<script src="/manager/vendor/flot/jquery.flot.min.js"></script>
<script src="/manager/vendor/flot/jquery.flot.resize.min.js"></script>
<script src="/manager/vendor/flot/jquery.flot.spline.js"></script>
<script src="/manager/vendor/flot/jquery.flot.time.min.js"></script>

<!-- App scripts -->
<script src="/manager/scripts/luna.js"></script>
<script>
    $(document).ready(function () {

    })



</script>

</body>

</html>